@model NetParts.Models.Collaborator
@{
    ViewData["Title"] = "Create New Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main">
    <br />
    <br />
    <section class="container">
        <aside class="col-sm-4">
            <h3 class="subtitle-doc">
                @SR["Create new password"]
            </h3>
            <div id="code_login_1">
                <div class="card">
                    <article class="card-body">
                        @{ await Html.RenderPartialAsync("~/Views/Shared/_Message.cshtml"); }
                        <a asp-action="Login" asp-controller="Home" class="float-right btn btn-outline-primary">@SR["Login"]</a>
                        <h4 class="card-title mb-4 mt-1">@SR["Change Password"]</h4>
                        <form method="post">
                            <div class="form-group">
                                <label>@SR["Password"]</label>
                                <input asp-for="Password" class="form-control" placeholder="******" type="password">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label>@SR["Confirm Password"]</label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="******" type="password">
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">@SR["Save"]</button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </aside>
    </section>
</main>

